.container {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;    
}

#rollDice{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    font-weight: bold;
}

#rollDice:hover{
    background-color: hsl(180, 100%, 70%);
}

#rollDice:active{
    background-color: hsl(180, 100%, 30%);
}

input{
    font-size: 1.3rem;
    text-align: center;
    width: 100px;
    padding: 5px;
    font-weight: bold;
}

img{
    width: 50px;
    padding: 10px;
}